div(ng-controller='streamCtrl')
    #tiles.row.content(data-ng-show="activeTab === 'stream'", data-ng-class="{'loaded': !status.loading}")
        .item.row(
            data-ng-repeat='track in content.stream | filter:streamFilter track by track.index'
            class='{{::track.type}}'
            data-ng-class="{'active': track.isPlaying, 'new': track.isNew}"
            data-ng-click='track.isNew = false; helpers.getNewCount()'
            data-ng-include="'views/item.html'"
            data-repeat-finished
        )

    .row
        button#more.btn(data-ng-click='loadData()', data-ng-show='!status.loading') more
